body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1.centrado {
    margin-bottom: 20px;
    color: #ff6900;
}

form {
    display: inline-block;
    text-align: left;
    background-color: #ff6900;
    padding: 45px;
    border-radius: 31px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

input, select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #FFA500;

}
